@import "config.rasi"

window {
    width:              40%;
}

inputbar {
    children:           [ prompt ];
}

prompt {
    padding:            8px 16px;
    background-color:   @blue;
    text-color:         @surface-1;
}

listview {
    lines:              8;
    columns:            1;
    fixed-height:       false;
    scrollbar:          true;
}

element {
    padding:            10px 14px;
}

element.selected {
    background-color:   rgba(137, 180, 250, 18%);
    text-color:         @blue;
}
