[user]
	name = shaheer
	email = shaheerahmedkhandev@gmail.com
[core]
	editor = nvim
	pager = delta
	autocrlf = input
[pager]
	diff = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
	line-numbers = true
	side-by-side = false
	syntax-theme = "Catppuccin Mocha"
	plus-style = "syntax #a6e3a1"
	minus-style = "syntax #f38ba8"
	plus-emph-style = "syntax #a6e3a1"
	minus-emph-style = "syntax #f38ba8"
	line-numbers-minus-style = "#f38ba8"
	line-numbers-plus-style = "#a6e3a1"
	line-numbers-zero-style = "#585b70"
	style = "plain"
	hyperlinks = true
	navigate-links = true
	hunk-header-style = "omit"
	files = true
	file-style = "bold mauve"
	hunk-header-decoration-style = "mauve"
	width = 120
[diff]
	algorithm = histogram
	colorMoved = default
[push]
	default = current
	autoSetupRemote = true
[pull]
	rebase = true
[rebase]
	autoStash = true
	autoSquash = true
[help]
	autocorrect = 20
[merge]
	conflictstyle = diff3
	stat = true
	rerereenabled = true
[alias]
	st = status -sb
	co = checkout
	br = branch
	cm = commit
	df = diff
	dfs = diff --stat
	lg = log --oneline --graph --decorate -20
	ls = log --oneline -10
	unstage = reset HEAD --
	undo = reset --soft HEAD~1
	amend = commit --amend --no-edit
	wip = !git add -A && git commit -m 'wip'
	recent = log --oneline --since='2 weeks ago'
Contributors = shortlog -sn
[init]
	defaultBranch = main
[fetch]
	prune = true
[credential]
	helper = store
[color]
	ui = auto
[apply]
	whitespace = fix
[credential "https://github.com"]
	helper = 
	helper = !/home/shaheer/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/shaheer/.local/bin/gh auth git-credential
